<template>
<div class="container mt-3 mb-3 w-50">
    <div v-if="secrets.length" class="row">
        <h1> Вы зарегистрированны! </h1>
    </div>
    <div v-if="!secrets.length" class="row">
    <div class="col-md-12">
    <!-- Default form login -->
    <form @submit.prevent="handleLogin" action="#" class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" v-model="formData.email" placeholder="E-mail">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" v-model="formData.password" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

        <!-- Register -->
        <p>Not a member?
            <a href="">Register</a>
        </p>
    </form>
    <!-- Default form login -->
    </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            secrets: "",
            formData: {
                        email: '',
                        password: ''
                      }
        }
    },
    methods: {
        handleLogin() {
            axios.get('/sanctum/csrf-cookie').then(response => {
                    axios.post('/login', this.formData).then(response => {
                        this.getSecrets();
                    }).catch(error => console.log(error)); // credentials didn't match
                });
        },
        getSecrets() {
            this.secrets = "Вы зарегистрированны!";
        }
    }
}
</script>
