<template>
<div class="container">
    <slider-component></slider-component>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="/images/pizzas/1.png"
                         alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Mushroom</h4>
                    <!-- Text -->
                    <p class="card-text">Mozzarella cheese fried champignons with onions butterscotch onions.</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add to cart</a>

                </div>
                <!-- Card footer -->
                <div class="rounded-bottom mdb-color warning-color-dark text-center pt-1 text-white">
                    <!-- Meat -->
                    <i class="fas fa-bacon mr-2 ml-2"></i>
                    <!-- Hot -->
                    <i class="fas fa-pepper-hot mr-2 ml-2"></i>
                    <!-- Vegetables -->
                    <i class="fas fa-leaf mr-2 ml-2"></i>
                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
</div>

</template>