<template>
<div class="container-fluid pr-0 pl-0">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark info-color-dark">

        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold fa-3x" href="/"> Pizza </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <select class="mdb-select md-form">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </li>
                <li class="nav-item">
                <router-link tag="a" to="/auth/login">
                    <button type="button" class="btn btn-amber btn-sm btn-rounded md-form font-weight-bold"><i class="fas fa-user"></i> Login</button>
                </router-link>
                </li>
                <li class="nav-item">
                    <a href="/cart"><button type="button" class="btn btn-amber btn-sm btn-rounded md-form font-weight-bold"><i class="fas fa-shopping-cart"></i> Cart | <span id="qty">3</span></button></a>
                </li>

            </ul>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
</div>
</template>